<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Copyright (c) 2007-2013, Kaazing Corporation. All rights reserved.

-->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%C{1} %-5p %m%n" />
        </layout>
    </appender>

    <root>
        <level value="all" />
        <appender-ref ref="STDOUT" />
    </root>
</log4j:configuration>
